<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Time Sheet</a>

    <div>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            *ngIf="!(is_auth | async)"
            aria-current="page"
            routerLink="/auth/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!(is_auth | async)"
            class="nav-link active"
            aria-current="page"
            routerLink="/auth/sign-up"
            >Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="is_auth | async"
            class="nav-link active"
            aria-current="page"
            (click)="onLogout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
