<form [formGroup]="postForm">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Hours</span>
        <input
          type="number"
          formControlName="hours"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Minutes</span>
        <input
          type="number"
          formControlName="minutes"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>
    </div>
  </div>

  <div class="form-floating">
    <textarea
      formControlName="title"
      class="form-control"
      placeholder="Title"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">Post Description</label>
  </div>
  <br />
  <button
    (click)="addPosts()"
    [disabled]="postForm.invalid"
    type="button"
    class="btn btn-outline-primary btn-sm float-end"
  >
    Add Post
  </button>

  <div
    *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="title.errors?.required">Description is required.</div>
  </div>
  <div
    *ngIf="hours.invalid && (hours.dirty || hours.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="hours.errors?.required">Hours is required.</div>
    <div *ngIf="hours.errors?.min">Minimum hour must be 1.</div>
    <div *ngIf="hours.errors?.max">Maximum hour must be 24.</div>
  </div>
  <div
    *ngIf="minutes.invalid && (minutes.dirty || minutes.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="minutes.errors?.required">Minutes is required.</div>
    <div *ngIf="minutes.errors?.min">Minimum minutes must be 0.</div>
  </div>
  <p class="text-danger" *ngIf="message">{{ message }}</p>
</form>
